{% extends "AskEkkert/base.html" %}
{% block content %}
	<h4 class="tags-title"> {% if page > 0 %}
	Page {{ page }}
	{% endif %} <br>
	</h4>
	{% for q in questions %}
	<div class="row question">
		<div class="col-md-2 col-sm-2">
			<div class="row">
		  		<img class="navbar-left img-rounded question-author-avatar" src="http://lorempixel.com/45/45/">
			</div>
			<button id="like-button{{ q.id }}" type="button" class="btn btn-xs btn-success button-like" onclick="like({{ q.id }}, 1, 'question')">
			<span class="glyphicon glyphicon-thumbs-up"></span>&nbsp;
			</button>
			<button id="dislike-button{{ q.id }}" type="button" class="btn btn-xs btn-danger button-dislike" onclick="like({{ q.id }}, -1, 'question')">
			<span class="glyphicon glyphicon-thumbs-down"></span>&nbsp;
			</button><br>
			<span id="like{{ q.id }}" class="label label-default like-counter">{{ q.rating }}</span>
		</div>
		<div class="col-md-10 col-sm-10">
			<a href="/question/{{ q.id }}" class="link question-link"><h2>  {{ q.title }} </h2></a>
			<P> {{ q.text }}</P>
			<div class="answers"><a href="/question/{{ q.id }}#answers">Answers <span class="badge">{{ q.count_ans }}</span></a>
				<div class="tags-list" align="right">Tags:
					{% for t in q.tags.all %}
					    <a href={% url 'tag' t.name %}>
					    <button  class="btn-link">{{ t.name }}</button></a>
					{% endfor %}
				</div>
			</div>
		</div>
	</div>
   {% endfor %}

    <nav class="row">
        <ul class="pagination">
            {% if questions.has_previous %}
            <li>
                <a href="{% if order %}/{{ order }}{% endif %}/{{ q.previous_page_number }}{% if tag %}/?tag={{ tag }}{% endif %}" aria-label="Previous">
                    <span aria-hidden="true">&laquo;</span>
                </a>
            </li>
            {% endif %}
            {% for page in questions.page_range %}
                {% if page %}
                <li {% if page == questions.number %}class="active"{% endif %}><a href="{% if order %}/{{ order }}{% endif %}/{{page}}{% if tag %}/?tag={{ tag }}{% endif %}">{{ page }}</a></li>
                {% else %}
                <li><a>...</a></li>
                {% endif %}
            {% endfor %}
            {% if questions.has_next %}
            <li>
                <a href="{% if order %}/{{ order }}{% endif %}/{{ questions.next_page_number }}{% if tag %}/?tag={{ tag }}{% endif %}" aria-label="Next">
                    <span aria-hidden="true">&raquo;</span>
                </a>
            </li>
            {% endif %}
        </ul>
    </nav>
{%endblock %}
{% block js %}
<script type="text/javascript">
        $.ajaxSetup({
             beforeSend: function(xhr, settings) {
                 function getCookie(name) {
                     var cookieValue = null;
                     if (document.cookie && document.cookie != '') {
                         var cookies = document.cookie.split(';');
                         for (var i = 0; i < cookies.length; i++) {
                             var cookie = jQuery.trim(cookies[i]);
                             // Does this cookie string begin with the name we want?
                         if (cookie.substring(0, name.length + 1) == (name + '=')) {
                             cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                             break;
                         }
                     }
                 }
                 return cookieValue;
             }
             if (!(/^http:.*/.test(settings.url) || /^https:.*/.test(settings.url))) {
                 // Only send the token to relative URLs i.e. locally.
                 xhr.setRequestHeader("X-CSRFToken", getCookie('csrftoken'));
             }
         }
    });
       function like(objectId, likeType, objectType) {
            $.ajax({
                url : "{% url 'like' %}",
                type : "POST",
                data : { like_type : likeType,
                         object_id : objectId,
                         object_type : objectType,
                         q_id : objectId
                        },
                success : function(data) {
                    if (data.error) {
                        alert(data.error);
                    } else {
	                    if (likeType == 1 ) {
	                    	if ($('#dislike-button'+objectId).prop('disabled')) {

			                    $('#dislike-button'+objectId).prop('disabled', false);

	                    	} else {

			                    $('#dislike-button'+objectId).prop('disabled', false);
    		                    $('#like-button'+objectId).prop('disabled', true);

	                    	}
	                	}
	                	if (likeType == -1) {

	                    	if ($('#like-button'+objectId).prop('disabled')) {

			                    $('#like-button'+objectId).prop('disabled', false);

	                    	} else {

								$('#dislike-button'+objectId).prop('disabled', true);
			                    $('#like-button'+objectId).prop('disabled', false);

	                    	}

	                	}
	                    $('#like'+objectId).text(data.new_rating);
	                }
                }
            });
        };
</script>
{% endblock %}
